h1{
  color:"black"
}

p{
  text-color:"white"
}


.content{
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f2f2f2;
  width: 100%;
  padding: 20px;
  text-align: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
